<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">
  <f:if condition="{data.header_layout} != 100">
    <f:if condition="{data.header}">
      <f:switch expression="{data.header_layout}">
        <f:case value="2">
          <row>
            <columns class="headline__outer-columns headline__outer-columns-h2 first last">
              <h2 class="headline">
                <f:render section="Inner"
                          arguments="{header: data.header,link: data.header_link, subheader:data.subheader}"/>
              </h2>
            </columns>
          </row>
        </f:case>
        <f:case value="3">
          <row>
            <columns class="headline__outer-columns headline__outer-columns-h3 first last">
              <h3 class="headline">
                <f:render section="Inner"
                          arguments="{header: data.header,link: data.header_link, subheader:data.subheader}"/>
              </h3>
            </columns>
          </row>
        </f:case>
        <f:case value="4">
          <row>
            <columns class="headline__outer-columns headline__outer-columns-h4 first last">
              <h4 class="headline">
                <f:render section="Inner"
                          arguments="{header: data.header,link: data.header_link, subheader:data.subheader}"/>
              </h4>
            </columns>
          </row>
        </f:case>
        <f:case value="5">
          <row>
            <columns class="headline__outer-columns headline__outer-columns-h5 first last">
              <h5 class="headline">
                <f:render section="Inner"
                          arguments="{header: data.header,link: data.header_link, subheader:data.subheader}"/>
              </h5>
            </columns>
          </row>
        </f:case>
        <f:defaultCase>
          <row>
            <columns class="headline__outer-columns headline__outer-columns-h1 first last">
              <h1 class="headline">
                <f:render section="Inner"
                          arguments="{header: data.header,link: data.header_link, subheader:data.subheader}"/>
              </h1>
            </columns>
          </row>
        </f:defaultCase>
      </f:switch>
    </f:if>
  </f:if>
</f:section>

<f:section name="Inner">
  <f:if condition="{link}">
    <f:then>
      <f:render section="Linked" arguments="{_all}" />
    </f:then>
    <f:else>
      <f:render section="Default" arguments="{_all}" />
    </f:else>
  </f:if>
</f:section>

<f:section name="Default">
  {header}<f:if condition="{subheader}"><br /><small>{subheader}</small></f:if>
</f:section>

<f:section name="Linked">
  <f:link.typolink parameter="{link}" absolute="1">
    <f:render section="Default" arguments="{_all}" />
  </f:link.typolink>
</f:section>

</html>
