<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/Undkonsorten/HtmlMailUtility/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
  <f:render partial="Header" section="Main" arguments="{_all}" />
</f:section>
<f:section name="Main">
    <row>
        <columns small="12" large="12" class="text-wrap first last">
           This is the default content element template. Please define a template name for your CType.
        </columns>
    </row>
</f:section>
