  <html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
        xmlns:mu="http://typo3.org/ns/Undkonsorten/HtmlMailUtility/ViewHelpers"
        data-namespace-typo3-fluid="true">
  <f:format.raw><mu:css.inline cssFile="{settings.cssFile}"><mu:format.inky>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{data.title}</title>
      <f:if condition="{injectCss}"><style>{injectCss}</style></f:if>

  </head>
  <body>
  <span class="preheader"><f:if condition="{data.description}"><f:then>{data.description}</f:then><f:else>{settings.defaultDescription}</f:else> </f:if></span>
  <table class="body">
      <tr>
          <td class="center" align="center" valign="top">
              <center>
                  <f:render section="head" optional="1" />
                  <f:render section="main" />
                  <f:render section="footer" optional="1" />
              </center>
          </td>
      </tr>
  </table>
  <!-- prevent Gmail on iOS font size manipulation -->
  <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
  </html>
  </mu:format.inky></mu:css.inline></f:format.raw>
  </html>
