<!--suppress HtmlRequiredLangAttribute, HtmlUnknownTag -->
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:section name="main">
    <row>
        <columns class="page-footer__unsubscribe">
            <small>
                <f:translate extensionName="EmailTemplate" id="unsubscribeLinkPrepend"/> <a no_jumpurl="1" href="{unsubscribeLink}"><f:translate extensionName="EmailTemplate" id="unsubscribeLink"/></a><f:translate extensionName="EmailTemplate" id="unsubscribeLinkAppend"/>
            </small>
        </columns>
    </row>

</f:section>
</html>
